<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>6장 조건과 반복의 사용</title>
</head>
<body>
  <div id="app">
    <h1>숫자 배열 조작과 구구단 출력</h1>
    <ul>
      <li v-for="(item, index) in list">
        {{ item }}
        <button type="button" v-on:click="edit(index)">+1</button>
        <button type="button" v-on:click="del(index)">삭제</button>
      </li>
    </ul>
    <div>
      <button type="button" v-on:click="push">맨 뒤에 숫자 1 추가</button>
      <button type="button" v-on:click="sort">오름차순 정렬</button>
      <button type="button" v-on:click="showTable">구구단 toggle</button>
      <ul v-if="isShow">
        <li v-for="i in list">
          <ul>
            <li v-for="j in 9">{{ `${i} x ${j} = ${i*j}` }}</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        list: [2,3,4,5,6,7,8,9],
        isShow: false,
      },
      methods: {
        showTable(){
          this.isShow = !this.isShow
        },
        sort(){
          this.list.sort((a,b) => a > b ? 1 : -1);
        },
        push(){
          this.list.push(1);
        },
        del(index){
          this.list.splice(index, 1);
        },
        edit(index){
          this.list.splice(index, 1, this.list[index] + 1);
        }
      }
    })
  </script>
</body>
</html>